DS_Store
*.zip

# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.dmp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf

# Atmel binary artifacts
*.bin
*.lss
*.sym
*.map

# Debug files
*.dSYM/
*.lst
*.s

# swap files
*.swp
